<div class="row">
    <div class="col-lg-4">
        <div class="text-box">
            <h5 class="kb-project-subtitle">Node.js API security</h5>
            <h4 class="text-uppercase mb-3">Joi security</h4>
            <p>
                Enhance your Node.js Joi validation schemas with this essential security CLI. This
                SAST tool performs attacks against your Joi schemas and detects vulnerabilities.
            </p>
            &nbsp;
            <a class="float-end" href="https://github.com/kongbytes/joi-security">
                View Github
            </a>
            {% if projects_extra_space == "normal" %}
                <div class="mb-3"></div>
            {% endif %}
        </div> 
    </div> 
    <div class="col-lg-4">
        <div class="text-box">
            <h5 class="kb-project-subtitle">Local network scans</h5>
            <h4 class="text-uppercase mb-3">ARP scan</h4>
            <p>
                A Rust rewrite of the well-known arp-scan network utility. This CLI detects hosts
                in a local network using the ARP protocol and provides new features such as JSON exports.
            </p>
            <a href="/docs/arp-scan">
                Documention
            </a>
            <a class="float-end" href="https://github.com/kongbytes/arp-scan-rs">
                View Github
            </a>
            {% if projects_extra_space == "normal" %}
                <div class="mb-3"></div>
            {% endif %}
        </div> 
    </div>
    <div class="col-lg-4">
        <div class="text-box">
            <h5 class="kb-project-subtitle">Network monitoring</h5>
            <h4 class="text-uppercase mb-3">Watchdog</h4>
            <p>
                An all-in-one network monitoring tool that detects incidents accross multiple regions. 
                Minimal memory usage, Grafana-ready and favors configuration as code.
            </p>
            <a href="/docs/watchdog">
                Documention
            </a>
            <a class="float-end" href="https://github.com/kongbytes/watchdog-rs">
                View Github
            </a>
            {% if projects_extra_space == "normal" %}
                <div class="mb-3"></div>
            {% endif %}
        </div> 
    </div> 
</div>