<!doctype html>
<html lang="en">
<head>

    {% include "_header.njk" %}

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

</head>
<body>

    {% include "_navbar.njk" %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>
                        <span style="font-weight: 500;">{{ doc_project_title }} <span class="ps-2 pe-2">|</span> {{ doc_title }}
                    </h1>
                </div> 
            </div> 
        </div> 
    </header> 
    <!-- end of header -->

    <!-- Basic -->
    <div class="ex-basic-1 py-5" style="min-height: 80%;">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-9 offset-md-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/#">Home</a></li>
                            <li class="breadcrumb-item"><a href="/docs">Documentation</a></li>
                            <li class="breadcrumb-item"><a href="/docs/{{ doc_category }}">{{ doc_project_title }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ doc_title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-md-1 mb-4">

                    <b>TABLE OF CONTENTS</b>
                    {% for docPage in collections[doc_category] %}
                    <article class="mt-2">
                        {% if page.url == docPage.url %}
                        {{ docPage.data.doc_title }}
                        {% else %}
                        <a href="{{ docPage.url | url }}">{{ docPage.data.doc_title }}</a>
                        {% endif %}
                    </article>
                    {% endfor %}

                </div>
                <div class="col-md-7 kb-doc-content">

                    <h1>{{ doc_title }}</h1>

                    <p class="kb-docs-meta">
                        {{ content | readingTime }} read
                    </p>

                    {{ content | safe }}
                
                </div> 
            </div> 
        </div> 
    </div>
    <!-- end of basic -->

    {% include "_footer.njk" %}

</body>
</html>
