---
header_title: Blog, technical insights & latest news
header_description: The KongBytes blog provides insights on open-source projects and technical topics around web development, DevOps, security and more
---
<!doctype html>
<html lang="en">
<head>

    {% include "_header.njk" %}

</head>
<body>

    {% include "_navbar.njk" %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>
                        KongBytes blog
                    </h1>
                </div> 
            </div> 
        </div> 
    </header> 
    <!-- end of header -->

    <!-- Basic -->
    <div class="ex-basic-1 py-5" style="min-height: 80%;">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-10 offset-md-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">

                    <h2 class="mb-4">Latest KongBytes blog posts</h2>

                    <div class="row">
                        {% for post in collections.posts %}
                        <div class="col-md-4">
                            <div class="text-box">
                                <h5 class="mb-3">{{ post.data.post_title }}</h5>
                                <p class="mb-3">
                                    {{ post.data.post_summary }}
                                </p>
                                <div class="pb-3">
                                    &nbsp;
                                    <a class="float-end" href="{{ post.url | url }}">
                                        Read more...
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div> 
        </div> 
    </div>
    <!-- end of basic -->

    {% include "_footer.njk" %}

</body>
</html>
