---
header_title: Request for personal data deletion
header_description: Request KongBytes and EventKong data deletion using the personal data deletion procedure
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>

    {% include "_header.njk" %}

</head>
<body>

    {% include "_navbar.njk" %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>
                        Request for personal data deletion
                    </h1>
                </div> 
            </div> 
        </div> 
    </header> 
    <!-- end of header -->

    <!-- Basic -->
    <div class="ex-basic-1 py-5" style="min-height: 80%;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    
                    <p>
                        At KongBytes, we take your privacy seriously and are committed to protecting your 
                        personal data. If you wish to have your personal data deleted from our records, you can follow 
                        the simple procedure outlined below.
                    </p>

                    <h3 class="mb-3">Deletion procedure</h3>
                    
                    <h5>Step 1: Compose an email</h5>
                    <p>
                        Compose an email from the email address associated with your KongBytes or EventKong account. In 
                        the subject line, please use "Request for Personal Data Deletion."
                    </p>

                    <h5>Step 2: Include necessary information</h5>
                    <p>
                        In the body of the email, provide the following information to help us identify and process your
                        request efficiently: an email address, EventKong tracker token or account ID.
                    </p>
                    
                    <h5>Step 3: State your request</h5>
                    <p>
                        Clearly state your request for the deletion of your personal data. You can use the following template:
                    </p>

<pre>
I am writing to request the deletion of my personal data from your records. Please find the relevant details below:
Full name: [Your full name]
Identifying information: [account ID, email address, tracker token, ...]
I kindly request the complete deletion of my personal data in accordance with privacy regulations.
</pre>

                    <h4>Step 4: Send the email</h4>
                    <p>
                        Send the email to KongBytes at developer [at] kongbytes [dot] io
                    </p>
                    <p>
                        Upon receiving your email, our team will review and process your request as quickly as possible. 
                        You will receive a confirmation email once your personal data has been successfully deleted from 
                        our records.
                    </p>
                    <p>
                        If you have any questions or concerns regarding the personal data deletion process, please feel 
                        free to contact us.
                    </p>
                    <p>
                        Thank you for your understanding and cooperation.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- end of basic -->

    {% include "_footer.njk" %}

</body>
</html>
