---
header_title: EventKong Privacy Policy
header_description: Privacy policy for the EventKong mobile application
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>

    {% include "_header.njk" %}

</head>
<body>

    {% include "_navbar.njk" %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h1>
                        Privacy Policy of EventKong<br>
                        mobile application<br>
                        <small style="opacity: 0.6;">Version 24/02/2023</small>
                    </h1>
                </div> 
            </div> 
        </div> 
    </header> 
    <!-- end of header -->

    <div class="ex-basic-1 py-5" style="min-height: 80%;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">

                    <p>
                        KongBytes operates the EventKong mobile application, which provides the SERVICE.
                    </p>
                    
                    <p>
                        This page is used to inform mobile application users regarding our policies with
                        the  collection, use, and disclosure of Personal Information if anyone decided 
                        to use our Service, the EventKong mobile application.
                    </p>
                    
                    <p>
                        The Personal Information that we collect are used for providing and improving 
                        the Service. We will not use or share your information with anyone except as 
                        described in this Privacy Policy.
                    </p>

                    <p>
                        This document can be printed for reference by using the print command in the settings
                        of any browser.
                    </p>

                    <h4>Policy summary</h4>

                    <p>
                        Personal Data processed for the following purposes and using the following services:
                    </p>
                    
                    <ul>
                        <li>
                            <b>Authentication for accessing the Service</b> : authentication on the "Tracking module" 
                            is performed with your unique EventKong tracker token (Personal Data) and the EventKong 
                            tenant identifier.
                        </li>
                        <li>
                            <b>Location permission for providing the Service</b> : the tracking module in the Service 
                            requests the location permission for providing the service. The background location will 
                            be requested to keep the Service running but may be disabled.
                        </li>
                    </ul>

                    <p>
                        The Personal Data will be only processed by the EventKong servers (Paris, France) and will not
                        be shared with third-party services.
                    </p>

                    <p>
                        Users may exercise rights based on the General Data Protection Regulation (GDPR) regarding their
                        Data (such as withdrawing consent, objecting to processing and accessing their data). For any 
                        request or question, please contact developer@kongbytes.io
                    </p>

                    <h4>How we handle your personal information</h4>

                    <p>
                        To use the Service, you must first have joined an EventKong tenant beforehand.
                        Access to the Service will not be granted without known tenant. The collected Personal
                        Data will be scoped to the given tenant and not shared accross multiple tenants.
                    </p>

                    <p>
                        For a better experience while using our Service, we may require you to provide
                        us with certain personally identifiable information. The information collection
                        is detailed below.
                    </p>

                    <p>
                        The tracking module provided by the Service requires a key (the "tracking key") 
                        and your location permission. The key is used to uniquely authenticate network requests
                        that are made to the EventKong servers and is a Personal Information that must never
                        be disclosed. The tracking module in the Service requests the location permission for
                        providing the service. The background location will be requested to keep the Service
                        running but may be disabled.
                    </p>

                    <p>
                        The device location sent alongside the tracking key will be sent to the EventKong servers
                        to provide the Service. This location data is collected only after obtaining explicit
                        consent from the user. We prioritize user privacy and ensure that the information is
                        securely transmitted and stored in accordance with applicable data protection regulations.
                        The collected location data is utilized exclusively for the purpose of providing the
                        functionality and features of our application. Users have the right to manage their 
                        location preferences and can withdraw consent at any time through the app settings. 
                        Our commitment is to transparently communicate our data practices and uphold the highest 
                        standards of data security and privacy.
                    </p>

                    <p>
                        Unless specified otherwise in this document, Personal Data shall be processed and stored
                        for as long as required by the purpose they have been collected for and may be retained
                        for longer due to applicable legal obligation or based on the Users' consent.
                    </p>

                    <h4>Log data</h4>

                    <p>
                        We want to inform you that whenever you interact with our Service, we collect
                        information that the mobile application sends to us that is called Log Data. 
                        This Log Data includes information such as your device Internet Protocol 
                        ("IP") address. The Log Data is collected for security purposes to protect the
                        Service against malicious usage and attacks.
                    </p>

                    <h4>Service providers</h4>

                    <p>
                        The Service relies on EventKong servers that will be processing the Personal
                        Data. The servers and related storage infrastructure is provided by the third-party
                        provider Scaleway (<a href="https://www.scaleway.com/en/privacy-policy/">Scaleway 
                        privacy policy</a>) in Paris, France. The Personal Data will be only processed by 
                        these servers.
                    </p>

                    <p>
                        Your personally identifiable information will not be shared with third-party services.
                    </p>

                    <h4>The rights of users</h4>

                    <p>
                        The General Data Protection Regulation (GDPR) affords Users specific rights concerning
                        their processed data by the Owner. Users have the following rights, within the limits
                        of the law:
                    </p>

                    <ul>
                        <li>
                            Revoke consent: Users can withdraw their consent at any time if they had previously
                            given consent for the processing of their Personal Data.
                        </li>
                        <li>
                            Object to processing: Users can object to the processing of their Data when it occurs
                            on a legal basis other than consent.
                        </li>
                        <li>
                            Access Data: Users can ascertain whether the Owner is processing their Data, obtain
                            information about certain processing aspects, and acquire a copy of the Data being processed.
                        </li>
                        <li>
                            Verify and rectify: Users can verify the accuracy of their Data and request updates or
                            corrections.
                        </li>
                        <li>
                            Restrict Data processing: Users can limit the processing of their Data, wherein the Owner
                            will only store it without any further processing.
                        </li>
                        <li>
                            Erasure of Personal Data: Users have the right to request the deletion or removal of their
                            Data from the Owner's records.
                        </li>
                        <li>
                            Data portability: Users can receive their Data in a structured, commonly used, and
                            machine-readable format. If technically feasible, they can request the transmission of this
                            data to another controller without hindrance.
                        </li>
                        <li>
                            Lodge a complaint: Users can file a claim with their relevant data protection authority.
                        </li>
                        <li>
                            Information on Data transfers: Users can learn about the legal basis for Data transfers
                            abroad, including to international organizations governed by public international law or
                            established by two or more countries (e.g., the UN). Additionally, Users are entitled to
                            information about the security measures implemented by the Owner to safeguard their Data.
                        </li>
                    </ul>

                    <p>
                        Any requests to exercise User rights can be directed to the Owner through the contact
                        details provided in this document. 
                    </p>

                    <h4>
                        Children's Privacy
                    </h4>

                    <p>
                        Our Service do not address anyone under the age of 16. We do not knowingly 
                        collect personal identifiable information from children under 16. In the case 
                        we discover that a child under 16 has provided us with personal information, 
                        we immediately delete this from our servers. If you are a parent or guardian 
                        and you are aware that your child has provided us with personal information, 
                        please contact us so that we will be able to do necessary actions.
                    </p>

                    <h4>
                        Changes to This Privacy Policy
                    </h4>

                    <p>
                        This Privacy Policy was updated on February 24th 2023. We may update our Privacy 
                        Policy from time to time and we notify our customers about such changes by email 
                        or via our services.
                    </p>

                    <h4>
                        Contact Us
                    </h4>

                    <p>
                        If you have any questions or suggestions about our Privacy Policy, do not
                        hesitate to contact us at developer@kongbytes.io
                    </p>

                </div>
            </div>
        </div>
    </div>

    {% include "_footer.njk" %}

</body>
</html>
